.resumeheaders {
    font-weight: bold;
    text-decoration: underline;
    font-style: normal;
}

.skillspaybills {
    font-style: italic;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .video {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mediatxt {
    text-align: center;
    font-weight: bold;
    font-size: 21px;
  }

  .anc {
      color: gray;
  }

 